.site-footer
{
  background-color:rgb(49, 111, 169);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.footer {
    position: fixed;
    right: 0;
    width: 100%;
    bottom: 0;
    height: 20px;
}